# dependencies
node_modules

# next.js
.next
out

# local env
.env*
!.env.example

# generated
next-env.d.ts
src/generated/prisma
packages/db/generated/prisma
.turbo
**/.turbo
.pnpm-store

# misc
.DS_Store
*.pem
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
